@font-face 
{
    font-family: "3270";
    src: url('/fonts/3270_regular.ttf') format('truetype');
}

.highlight
{
    color: #00caed;   
}

.header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
}

.header img {
    width: 64px;
    height: 64px;
    border-radius: 8px;
}

.header h1 {
    margin: 0;
}

html 
{
    font-family: "3270";
    background-color: #16181c;
    display: flex;
    justify-content: center;
}

h1 
{
    color: #6e45b0;
}

a:link 
{
    color: #00caed;
}

a:visited 
{
    color: #00caed;
}

a:hover
{
    color: #003cff;
}

a:active 
{
    color: #ededed;
}

.links 
{
    display: flex; 
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 50px;
}

p, .links, li
{
    color: whitesmoke;
}

li 
{
    margin-bottom: 5vh;
}
